body{
	margin: 0;
	padding: 0;
}
.mrg{
	margin-top: 10000px;
}
#topBar{
	position: relative;
	width: 100%;
	border-bottom: 3px #000;
	height: 50px;
}
#logo{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 60px;
}
#logo:hover{
	cursor: pointer;
}
#menu{
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translate(0, -50%);
	width: 30px;
}
#contentMask{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -5;
	background: #000;
	opacity: 0;

}
#menuDrop{
	position: fixed;
	width: 100%;
	bottom: 0;
	left: 0;
	background: #fff;
	z-index: 10;
	transform: translate(0, 100%);
	padding: 20px;
	box-sizing: border-box;
}
#menuUl{
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
}
#menuUl li{
	padding: 10px 0;
	background: rgba(0, 0, 0, 0);
	transition: background 0.1s;
	-o-transition: background 0.1s;
	-moz-transition: background 0.1s;
	-webkit-transition: background 0.1s;
}
#menuUl li:hover{
	cursor: pointer;
	background: rgba(0, 0, 0, 0.1);
}
#main{
	overflow: hidden;
	position: relative;
	background: #efefef;
	font-family: STSONG;
}
.contentType1{
	position: relative;
	margin: 20px;
	margin-bottom: 0;
	box-sizing: border-box;
	background: #fff;
	overflow: hidden;
	border-radius: 8px;
}
.contentType1:hover{
	cursor: pointer;
}
.contentType2{
	position: relative;
	margin: 20px;
	margin-bottom: 0;
	box-sizing: border-box;
	background: #fff;
	overflow: hidden;
	border-radius: 8px;
}
.contentType2:hover{
	cursor: pointer;
}
.cover1{
	width: 100%;
}
.cover2{
	position: fixed;
	z-index: -99;
	visibility: hidden;
}
.title1{
	font-size: 1.6em;
	text-align: center;
	margin: 15px 0 0 0;
	padding: 0 20px 15px 20px;
}
.title2{
	font-size: 1.6em;
	text-align: center;
	margin: 15px 0 0 0;
	padding: 0 20px 15px 20px;
}
.infoWrap{
	position: relative;
	width: 100%;
	padding: 5px 20px;
	box-sizing: border-box;
}
.portrait{
	width: 40px;
}
.date{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	margin-right: 20px;
	margin-top: 10px;
}


#goToTop{
	position: fixed;
	right: 5px;
	bottom: 60px;
	width: 40px;
	height: 40px;
	z-index: -99;
	background: #609a7b;
	border-radius: 5px;
}


footer{
  position: relative;
  text-align: center;
  font-size: 0.8em;
  padding: 30px 0;
  background: #3c3c3c;
  color: #fff;
  overflow: hidden;
}
footer p{
  margin: 8px auto;
}
.socialMedia{
  margin: 0 4px;
}
.socialMedia:hover{
  cursor: pointer;
}
#wechatQRCodeContainer{
  position: absolute;
  left: 30px;
  top: 50%;
  transform: translate(0, -50%);
  background: #fff;
  width: 180px;
  height: 180px;
  visibility: hidden;
}



@keyframes imgEnhancer {
	from{
		width: 100%;
	}
	to{
		width: 110%;
	}
}